<!DOCTYPE html>
<html lang="en" data-ng-app="lazy-testing" data-ng-controller="lazy-testing-controller">
<head>
    <meta charset="UTF-8">
    <title>Lazy Testing</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="section section-left">
    <span class="control-buttons">
            <input type="button" class="btn btn-success" value="Refresh" data-ng-click="loadData()">
            <input type="button" class="btn btn-success" value="Reload PDF" data-ng-click="updatePdf()">
            <input type="button" class="btn btn-danger" value="Reset" data-ng-click="reset()">
            <input type="button" class="btn btn-warning" value="Auto Assign" data-ng-click="autoAssign()">
            <input type="button" class="btn btn-warning" value="Update Tests" data-ng-click="loadNew()" disabled="disabled" title="Yeah, this doesn't work yet.">
        </span>

    <table style="width: 100%" class="table table-hover">
        <tbody data-ng-repeat="scenario in data">
        <tr>
            <th colspan="5">
                <h3>{{scenario.name}}</h3>
            </th>
        </tr>
        <tr>
            <th>Test</th>
            <th style="white-space: nowrap">Is Passing</th>
            <th>Tester</th>
            <th>Last Tested Date</th>
            <th>Comment</th>
        </tr>
        <tr data-ng-repeat="test in scenario.scenarios" style="cursor: pointer">
            <th style="text-align: left; font-weight: bold" data-ng-hide="get('edit-' + $index + '-' + $parent.$index)" data-ng-click="toggle('edit-' + $index + '-' + $parent.$index)">{{test.name}}</th>
            <td data-ng-hide="get('edit-' + $index + '-' + $parent.$index)" data-ng-click="toggle('edit-' + $index + '-' + $parent.$index)">{{test.passing ? "Yes" : "No"}}</td>
            <td data-ng-hide="get('edit-' + $index + '-' + $parent.$index)" data-ng-click="toggle('edit-' + $index + '-' + $parent.$index)">{{test.tester}}</td>
            <td data-ng-hide="get('edit-' + $index + '-' + $parent.$index)" data-ng-click="toggle('edit-' + $index + '-' + $parent.$index)">{{test.date}}</td>
            <td data-ng-hide="get('edit-' + $index + '-' + $parent.$index)" data-ng-click="toggle('edit-' + $index + '-' + $parent.$index)">{{test.comment}}</td>
            <td colspan="5" data-ng-show="get('edit-' + $index + '-' + $parent.$index)">
                <h4>{{test.name}}</h4>
                <hr/>
				<table style="width:100%;">
				    <tr>
				        <td class="editpane">
				            <p>
				                <label for="assigned-to-{{$parent.$index}}-{{$index}}-assigned">Assigned To</label>
				            </p>
				            <p>
				                <select id="assigned-to-{{$parent.$index}}-{{$index}}-assigned" data-ng-options="member for member in members" data-ng-model="test.tester">
				                </select>
				            </p>
				            <p>
				                <label for="assigned-to-{{$parent.$index}}-{{$index}}-passing">Does it pass?</label>
				            </p>
				            <p>
				                <select id="assigned-to-{{$parent.$index}}-{{$index}}-passing" data-ng-options="boolToStr(item) for item in [true, false]" data-ng-model="test.passing">
				                </select>
				            </p>
				            <p>
				                <label for="assigned-to-{{$parent.$index}}-{{$index}}-comments">Comments</label>
				            </p>
				            <p>
				                <textarea id="assigned-to-{{$parent.$index}}-{{$index}}-comments" data-ng-model="test.comment"></textarea>
				            </p>
				        </td>
				        <td class="editpane">
				            <code data-ng-bind-html="format(test.test) | html"></code>
				        </td>
				    </tr>
				    <tr>
				        <td colspan="2">
                            <p>
                                <span class="control-buttons">
                                    <input type="button" class="btn btn-success" value="Save" data-ng-click="save($parent.$index, $index); toggle('edit-' + $index + '-' + $parent.$index);">
                                    <input type="button" class="btn btn-danger" value="Cancel" data-ng-click="toggle('edit-' + $index + '-' + $parent.$index); loadData()">
                                </span>
                            </p>
                            <p>
                                <div class="information">
                                    Note that the PDF will not update without manualy pressing the refresh button.<br />
                                    This is thanks to iFrame implementations. Thanks Javascript!
                                </div>
                            </p>
				        </td>
				    </tr>
				</table>
            </td>
        </tr>
        </tbody>
    </table>

    <span class="control-buttons">
            <input type="button" class="btn btn-success" value="Refresh" data-ng-click="loadData()">
            <input type="button" class="btn btn-success" value="Reload PDF" data-ng-click="updatePdf()">
            <input type="button" class="btn btn-danger" value="Reset" data-ng-click="reset()">
            <input type="button" class="btn btn-warning" value="Auto Assign" data-ng-click="autoAssign()">
            <input type="button" class="btn btn-warning" value="Update Tests" data-ng-click="loadNew()" disabled="disabled" title="Yeah, this doesn't work yet.">
        </span>
    </div>
    <iframe id="pdf-frame" src="{{pdfUrl}}" class="section section-right"></iframe>
    <script type="text/javascript" src="controller.js"></script>
</body>
</html>