.section {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 99.4%;
}

.section-left {
    left: 0;
    text-align: center;
    overflow: auto;
    width: 60%;
}

.control-buttons {
    display: inline-block;
    margin: 10px;
}

.section-right {
    right: 0;
    width: 40%;
}

select {
    min-width: 70%;
    text-align: center;
}

textarea {
    width: 100%;
}

.editpane {
    width: 50%;
}